@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-[background-color] duration-300 ease-in-out;
  }
}

@layer components {
  .icon-base {
    @apply h-6 w-6 text-slate-700 hover:scale-110 hover:pb-0.5 hover:text-accent dark:text-rose-50 dark:hover:text-accent-dark;
  }
}

.books-animation {
  background: linear-gradient(270deg, #08c39b, #049eae, #0b2325);
  background-size: 600% 600%;

  -webkit-animation: BooksSection 20s ease infinite;
  -moz-animation: BooksSection 20s ease infinite;
  -o-animation: BooksSection 20s ease infinite;
  animation: BooksSection 20s ease infinite;
}

@-webkit-keyframes BooksSection {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}
@-moz-keyframes BooksSection {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}
@-o-keyframes BooksSection {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}
@keyframes BooksSection {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}