@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-[background-color] duration-300 ease-in-out;
  }
}

@layer components {
  .icon-base {
    @apply h-6 w-6 text-slate-700 hover:scale-110 hover:pb-0.5 hover:text-accent dark:text-rose-50 dark:hover:text-accent-dark;
  }
}

.custom-boxshadow{
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.clip-custom{
  clip-path: ellipse(100% 70% at 100% 58%);
}

.hero-font{
    font-family: "Inter", Sans-serif;
    font-size: 8vw;
    line-height: 1.1em;
    text-indent: -12px;
    margin-top: 0px;
    margin-bottom: 15px;
}