@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-[background-color] duration-300 ease-in-out;
  }
}

@layer components {
  .icon-base {
    @apply h-6 w-6 text-slate-700 hover:scale-110 hover:pb-0.5 hover:text-accent dark:text-rose-50 dark:hover:text-accent-dark;
  }
}

.custom-boxshadow{
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.font-inter{
  font-family: 'Inter', sans-serif;  
}
.jakarta-title{
  font-family: 'Plus Jakarta Sans', sans-serif;
 }
.s-boxshadow{
  box-shadow: 0 0 20px rgba(0,0,0,.09);

}

.hero-font{
    font-family: 'Inter', sans-serif;
    font-size: 8vw;
    line-height: 1.1em;
    margin-top: 0px;
    margin-bottom: 15px;
}


.clip-custom{
  clip-path: circle();
}
.jakarta-font{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));

}

.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, #34D399, #22D3EE);
  transform-origin: 0%;
}
.contact-placeholder::placeholder{
  position: absolute;
  top: 5;

}

.box {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.4s;
  text-align: center;
}
.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid #fff;
  border-left: 20px solid #fff;
  box-sizing: border-box;
}
.box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid #fff;
  border-right: 20px solid #fff;
  box-sizing: border-box;
}
.box .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: #fff;
  color: #2C3A47;
}
.box .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.box .text {
  position: absolute;
  top: 30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  background-color: #2C3A47;
  border-radius: 3px;
  transition: 0.4s;
}
.box .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.box .text div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 1.5;
  box-sizing: border-box;
}
.box .text div h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.box .text div p {
  font-size: 15px;
}
.box:hover {
  transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}
.box:hover .text {
  transform: rotateY(20deg) skewY(-3deg);
}
@media (min-width: 1024px) {
  .clip-custom{
    clip-path: ellipse(100% 70% at 100% 58%);
  }
  }

